extends layout

block content
  h3=title
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  <form method="POST">
    <div>
      input(class="questionBox", type="text", name="questionBox", id="questionBox" placeholder="Enter your question", value=question)
    </div>

    <div>
      input(class="firstOption", type="text", name="firstOption", id="firstOption", placeholder="Enter Option 1", value=firstOption)
      input(class="secondOption", type="text", name="secondOption", id="secondOption", placeholder="Enter Option 2", value=secondOption)
    </div>
    input(class="submitButton", type="submit", value="Submit")
    input(id="cancelButton", type="submit", value="Cancel")
  </form>