doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    <header>
      <div class='title'>VIBE</div>
      //Note that this is just a placeholder for an actual hamburger icon
      <div id='hamburger'>Hamburger</div>
    </header>
    block content
