extends layout

block content
  h3=title
  meta(charset='utf-8')
  <form method="POST">
    <div class="questionBox" id="display">
      <b>#{theQuestion}</b>
    </div>

    <div class="optionBoxes">
      input(class="radioButton", type="radio", name="options", id="showFirstOption", value=1)
      <label for="showFirstOption", class="optionBox">#{option1}</label><br>
    </div>
    <div class="optionBoxes">
      input(class="radioButton", type="radio", name="options", id="showSecondOption", value=1)
      <label for="showSecondOption", class="optionBox">#{option2}</label><br>
    </div>
    <div class="centerButtons">
      input(class="button", id="skip", type="submit", value="Skip")
      input(class="button", id ="submit", type="submit", value="Submit")
    </div>
    input(id="skipButton", type="submit", name="buttons", value="Skip")
    input(class="submitButton", type="submit", name="buttons", value="Submit")
  </form>
  
