extends layout

block content
  h3=title
  meta(charset='utf-8')
  <form method="POST">
    <div class="questionBox" id="display">
      <b>#{theQuestion}</b>
    </div>

    <div>
      input(class="firstOption", type="radio", name="options", id="showFirstOption", value=1)
      <label for="firstOption", class="optionBox">#{option1}</label><br>

      input(class="secondOption", type="radio", name="options", id="showSecondOption", value=2)
      <label for="secondOption", class="optionBox">#{option2}</label><br>
    </div>
    input(id="skipButton", type="submit", name="buttons", value="Skip")
    input(class="submitButton", type="submit", name="buttons", value="Submit")
  </form>
  
