extends layoutNoHamburger

block content

  h3=title
  <form method="POST">
    <div>
      <p>Username:</p>
      <input type="text" name="username" id="username" placeholder="Username">
    </div>
    pre=errorbox
    <input class="button" type="submit" value="Recover">
  </form>