extends layoutNoHamburger

block content
  <div>
    <h4>With Vibe you can put your finger on the pulse of the public's opinion on issues you care about. Get your dilemmas answered. Finally settle the argument. Share your opinions. </h4>
    <h3 id='typeQuestions'></h3>
  </div>
  <br>
  <hr>
  <br>
  <div>
    h3=title
    <form method="POST">
    <div>
      <p>Username:</p>
      <input type="text" name="username" id="username" placeholder="Username">
    </div>
    <div>
      <p>Password:</p>
      <input type="password" name="password" id="password" placeholder="Password">
    </div>
    <div>
      <input type="checkbox" name="rememberme" id="rememberme" value="checked">
        <label for="rememberme">Remember me</label>
        <br>
    </div>
      pre=errorbox
      <input class="button" type="submit" value="Sign In">
      <br>
      <div>
        <a class="recover" href='/recover'>Forgot Password?</a>
      </div>
    </form>
    <br>
    <input class="button" onclick="location.href='/register'" type="submit" value="Sign Up">
  </div>
  script(src='/javascripts/typingQuestions.js')