extends layoutNoHamburger

block content
  <div>
    <h3>What came first, the chicken or the egg?</h3>
    <h3>Is the glass half full or half empty?</h3>
    <h3>Which are better, cats or dogs?</h3>
    <h4>Get your dilemmas answered. Share your opinions. Get the vibe of the public on major issues.</h4>
  </div>
  <div>
    h3=title
    <form method="POST">
    <div>
      <p>Username:</p>
      <input type="text" name="username" id="username" placeholder="Username">
    </div>
    <div>
      <p>Password:</p>
      <input type="password" name="password" id="password" placeholder="Password">
    </div>
    <div>
      <input type="checkbox" name="rememberme" id="rememberme" value="checked">
        <label for="rememberme">Remember me</label>
        <br>
    </div>
      pre=errorbox
      <input class="button" type="submit" value="Sign In">
      <br>
      <div>
      <a class="recover" href='/recover'>Forgot Password?</a>
    </div>
  </form>
  <br>
    <input class="button" onclick="location.href='/register'" type="submit" value="Sign Up">
  </div>
