extends layoutNoHamburger

block content
  <div class='column-left' class='signin'>
    <h5 class='questions' id='typeQuestion1'></h5>
    <h5 class='questions' id='typeQuestion2'></h5>
    <h5 class='questions' id='typeQuestion3'></h5>
    <h4 id='hook'></h4>
  </div>
  <div class='column-right signin'>
    <div class='subtitle'>
      h3=title
    </div>
    <form method="POST">
    <div>
      <p>Username:</p>
      <input type="text" name="username" id="username" placeholder="Username">
    </div>
    <div>
      <p>Password:</p>
      <input type="password" name="password" id="password" placeholder="Password">
    </div>
    <div>
      <input type="checkbox" name="rememberme" id="rememberme">
        <label for="rememberme">Remember me</label>
        <br>
    </div>
      pre=errorbox
      <input class="button" type="submit" value="Sign In">
      <br>
      <div>
        <a class="recover" href='/recover'>Forgot Password?</a>
      </div>
    </form>
    <br>
    <input class="button" onclick="location.href='/register'" type="submit" value="Sign Up">
  </div>
  script(src='/javascripts/typingQuestions.js')