extends layoutNoHamburger

block content

  h3=title
  <form method="POST">
    <div>
      <p>Username:</p>
      <input type="text" name="username" id="username" placeholder="Username">
    </div>
    <div>
      <p>Password:</p>
      <input type="password" name="password" id="password" placeholder="Password">
    </div>
    <div>
      <input type="checkbox" name="rememberme" id="rememberme" value="checked">
      <label for="rememberme">Remember me</label>
    </div>
    pre=errorbox
    <input class="button" type="submit" value="Sign In">
  </form>
  <hr>
  <p>Don't have an account?</p>
  <input class="button" onclick="location.href='/register'" type="submit" value="Create Account">
