body {
  padding: 0px;
  margin: 0px;
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
  margin: 5px 20px;
}

label {
  margin: 5px 20px;
}

select {
  font-size: 24px;
  margin: 4px 21px;
}

pre {
  margin: 5px 20px;
  font-size: large;
  color: red;
}

header {
  font-size: 40px;
  display: flex;
  padding: 10px;
  margin: 0px;
  background-color: #55e7a8;
}
.menu {
  text-align: right;
  overflow: hidden;
}

.menu a {
  color: grey;
  float: right;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 10px;
}

.menu a:hover {
  color: white;
}

.menu a.current {
  color: black;
}

.menu #hamburger {
  display: none;
}

#hamburger1, #hamburger2, #hamburger3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.select #hamburger1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.select #hamburger2 {
  opacity: 0;
}

.select #hamburger3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* Small screen: don't show horizontal menu, show hamburger*/
@media screen and (max-width: 650px) {
  .menu a {
    display: none;
  }
  .menu #hamburger {
    float: right;
    display: block;
  }
}

/* Small screen: show menu and hamburger*/
@media screen and (max-width: 650px) {
  .menu.show {
    position: relative;
  }

  .menu.show a {
    float: none;
    display: block;
    text-align: left;
    font-size: 24px;
  }
}

/* The skip/cancel and submit button stack*/
@media screen and (max-width: 700px) {

  .centerButtons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #main.submitButton {
    clear: both;
  }

  #skip.button {
    clear: both;
  }

  #cancel.button {
    clear: both;
  }
}

.title {
  flex: 1;
  text-align: left;
  padding-top: 2px;
}

.button {
  font-size: 24px;
  background-color: grey;
  border: none;
  color: white;
  padding: 10px 25px;
  width: 300px;
  height: 50px;
  text-align: center;
  margin: 4px 20px;
  border-radius: 8px;
}

.button:hover {
  background-color: #55e7a8;
}

label {
  font-size: 24px;
  margin: 5px 20px;
}

select {
  font-size: 16px;
  margin: 4px 21px;
}

.centerButtons {
  width: 100%;
  display: flex;
  justify-content: center;
}

#submit.button {
  background-color: blue;
  float: left;
}

#submit.button:hover {
  background-color: rgb(0, 0, 155);
}

#cancel.button {
  background-color: red;
  float: left;
}

#cancel.button:hover {
  background-color: rgb(155, 0, 0);
}

#skip.button {
  background-color: red;
  float: left;
}

#skip.button:hover {
  background-color: rgb(155, 0, 0);
}

form input {
  font-size: 24px;
  margin: 4px 21px;
}
.errorInput {
  border:2px solid red;
}

h3 {
  margin: 10px;
}

#questionBox.questionBox {
  display: block;
  margin: 5px auto;
  width: 90%;
  height: 200px;
  border: 1px solid black;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#firstOption {
  display: block;
  margin: 5px auto;
  width: 90%;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

#secondOption {
  display: block;
  margin: 5px auto;
  width: 90%;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.optionBoxes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

label.optionBox {
  float: left;
  padding: 5px;
  margin: 5px 0 5px;
  border: 1px solid black;
  width: 90%;
}

label.optionBox:hover {
  background-color: rgb(155, 155, 155);
}

.radioButton {
  float: left;
  margin: auto 10px;
}

.optionBoxes input[type="radio"]:checked + label.optionBox {
  background: linear-gradient(160deg, rgb(0, 238, 255), rgb(0, 209, 165));
}

.optionBoxes input[type="radio"]:checked + label.optionBox:hover {
  background: linear-gradient(160deg, rgb(0, 238, 255), rgb(0, 209, 165));
}

.optionBoxes input[type="radio"] + label.optionBox:hover {
  background: linear-gradient(45deg, rgb(255, 110, 199), rgb(255, 57, 179));
}

#display.questionBox {
  display: flex;
  padding: 10px;
  margin: 5px auto;
  width: 90%;
  height: 300px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

#display.questionBox:hover {
  background: linear-gradient(140deg, rgb(0, 128, 255), rgb(0, 77, 155));
}

.graphWrapper {
  padding: 10px;
  margin: 0 auto;
  border: 1px solid black;
  height: 500px;
}

#firstResults {
  display: flex;
  height: 50%;
  background-color: rgb(231, 64, 64);
  justify-content: center;
  align-items: center;
}

#secondResults {
  display: flex;
  height: 50%;
  background-color: rgb(0, 152, 253);
  justify-content: center;
  align-items: center;
}

#resultsQuestion {
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.thumbs {
  padding: 10px;
  margin: 0 auto;
  width: 100px;
  justify-content: center;
}

.editField {
  font-size: small;
  color: blue;
  cursor: pointer;
}