/*******************************************************************************
File Name:    index.css
Author:       Damon, Bob, Madeleine, Michael
Date:         10/30/2020
Class:        CS360
Assignment:   Vibe Group Project
Hours Worked: X Hours
Purpose:      Temporary test css file
*******************************************************************************/

h1 {
  color: blue;
}